global:
  scrape_interval: 15s
  evaluation_interval: 15s
  external_labels:
    monitor: "my-project"

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["localhost:9090"]

  - job_name: "cadvisor"
    static_configs:
      - targets: ["cadvisor:8080"]
        labels:
          instance: "lab01"
          node: "lab01"
    metric_relabel_configs:
      # Prioritize Docker Compose/Swarm service names
      - source_labels: [__name__]
        separator: ;
        regex: ^container_.*
        replacement: $1
        action: keep
      - source_labels: [container_label_com_docker_compose_service]
        target_label: service
      - source_labels: [container_label_com_docker_swarm_service_name]
        target_label: service
      - source_labels: [name]
        target_label: container

  - job_name: "node-exporter"
    static_configs:
      - targets: ["node-exporter:9100"]
        labels:
          instance: "lab01"
          node: "lab01"
